* {
    box-sizing: border-box;
}
  
body {
    height: 100vh;
    margin: 5vmin;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 1.5fr 2fr
}

header {
    font-family: 'Megrim', cursive;
    font-size: 72px;
    letter-spacing: 5vmin;
    margin: 0;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

h2 {
    font-family: 'Nixie One', cursive;
    font-size: 36px;
    letter-spacing: 0.5vmin;
    margin: 0;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

/* .red, .blue, .yellow, .green {
    display: grid;
    grid-template-columns: repeat(4, 4vmin);
} */

#header > div {
    height: 30px;
    width: 30px;
    display: inline-block;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.score, #replay, #start {
    font-family: 'Nixie One', cursive;
    font-size: 20px;
}

#red {
    background-color: #fabbbb;
}

#blue {
    background-color: #bbe1fc;
}

#yellow {
    background-color: #f5f5a6;
}

#green {
    background-color: #b7f7b7;
}

#color-buttons > div {
    display: inline-grid;
    grid-column: 2 / span 2;
    grid-row: 2 / span 3;
    gap: 2vmin;
    height: 20vmin;
    width: 20vmin;
}

#red:hover, #red .activated{
    background-color: red;
}

#blue:hover, #blue .activated{
    background-color: blue;
}

#yellow:hover, #yellow .activated{
    background-color: yellow;
}

#green:hover, #green .activated{
    background-color: green;
}

button {
    margin-top: 1vmin;
    padding: 0.9vmin;
    font-size: 4vmin;
    border-radius: 0.75vmin;
    border: 0.1vmin solid red;
    background-color: white;
    color: red;
  }

button:hover {
    background-color: red;
    border: solid white;
    color: white;
}

#replay {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}

#start {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.cur-score {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.high-score {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
}