* {
    box-sizing: border-box;
}
  
body {
    height: 100vh;
    margin: 5vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header {
    font-family: 'Megrim', cursive;
    font-size: 13vmin;
    letter-spacing: 2vmin;
    margin: 0;
}

h2 {
    font-family: 'Nixie One', cursive;
    font-size: 4.5vmin;
    letter-spacing: 0.5vmin;
    margin: 0px 0px 1vmin 0px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

#header > div {
    height: 4vmin;
    width: 4vmin;
    display: inline-grid;
    margin: 0.5vmin;
}

.score, #start {
    font-family: 'Nixie One', cursive;
    font-size: 3vmin;
    margin: 1vmin;
    padding: 0.5vmin;
}

#red {
    background-color: #fabbbb;
}

#blue {
    background-color: #bbe1fc;
}

#yellow {
    background-color: #f5f5a6;
}

#green {
    background-color: #b7f7b7;
}

#color-buttons > div {
    height: 35vmin;
    width: 35vmin;
    cursor: pointer;
}

#red .activated{
    background-color: red;
}

#blue .activated{
    background-color: blue;
}

#yellow .activated{
    background-color: yellow;
}

#green .activated{
    background-color: green;
}

button {
    margin-top: 1vmin;
    padding: 1vmin;
    font-size: 5vmin;
    font-weight: bold;
    border-radius: 0.75vmin;
    border: 0.2vmin solid red;
    background-color: white;
    color: red;
  }

button:hover {
    background-color: red;
    border: solid white;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.score > div {
    display: inline-flex;
    font-family: 'Megrim', cursive;
    font-size: 3.5vmin;
    font-weight: bold;
    text-shadow: 0 0 3px yellow, 0 0 5px gray;
}

#color-buttons {
    display: grid;
    grid-template-columns: repeat(2, 36vmin);
    grid-template-rows: repeat(2, 36vmin);
    place-items: center;
}

#scores {
    display: inline-flex;
    justify-content: stretch;
    align-items: stretch; 
}

footer {
    font-family: 'Nixie One', cursive;
    font-size: 1.5vmin;
    margin: 1vmin;
    padding: 5vmin;
}

#color-buttons > div:hover {
    height: 35vmin;
    width: 35vmin;
    cursor: pointer;
    background-color: lightgrey;
}