* {
    box-sizing: border-box;
}
  
body {
    height: 100vh;
    margin: 5vmin;
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}

header {
    font-family: 'Megrim', cursive;
    font-size: 72px;
    letter-spacing: 5vmin;
    margin: 0;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

h2 {
    font-family: 'Nixie One', cursive;
    font-size: 36px;
    letter-spacing: 0.5vmin;
    margin: 0;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

#header > div {
    height: 30px;
    width: 30px;
    display: inline-grid;
    margin: 1px;
}

.score, #start {
    font-family: 'Nixie One', cursive;
    font-size: 20px;
    margin: 5px;
    padding: 2px;
}

#red {
    background-color: #fabbbb;
}

#blue {
    background-color: #bbe1fc;
}

#yellow {
    background-color: #f5f5a6;
}

#green {
    background-color: #b7f7b7;
}

#color-buttons > div {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 2vmin;
    height: 40vmin;
    width: 40vmin;
}

#red:hover, #red .activated{
    background-color: red;
}

#blue:hover, #blue .activated{
    background-color: blue;
}

#yellow:hover, #yellow .activated{
    background-color: yellow;
}

#green:hover, #green .activated{
    background-color: green;
}

button {
    margin-top: 1vmin;
    padding: 1vmin;
    font-size: 5vmin;
    font-weight: bold;
    border-radius: 0.75vmin;
    border: 0.2vmin solid red;
    background-color: white;
    color: red;
  }

button:hover {
    background-color: red;
    border: solid white;
    color: white;
    font-weight: bold;
}

.score > div {
    display: inline-flex;
    font-family: 'Megrim', cursive;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0 0 3px yellow, 0 0 5px gray;
    
}